.specialisationContainer {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
 // border: 1px solid red;

  .specialisationSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div{
        width: 250px; /* Fixed width for each item */
        height: 180px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        box-shadow: 0 34px 44 rgba(213, 219, 228, 0.44);
        background-color: white;
        
        .font{
            color: rgba(171, 182, 199, 1);
            font-size: 18px;
            font-weight: 500;
            position: relative;
            top: -30px;
        }
        img{
            width: 60px;
            height: 60px;
            margin: auto;
           
        }
        &:hover{
            border:1px solid #2aa8ff;
            background-color: rgba(232, 241, 255, 0.47);
            img{
                transform: scale(1.5);
            }
            .font{
                font-weight: 600;
                color:black
            }
        }

    }
   
  }
 
  .button {
    display: block;
    color: white;
    background-color: #2aa8ff;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 20px auto;
    &:hover{
        transform: scale(1.3);
    }
  }
}




