.SearchContainer{
    border:1px solid rgb(203, 201, 201);
    border-radius: 15px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    background-color: white;
    width:80%;
}

.SearchSection{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width:70%;
    margin: auto;
}

.search-bar{
    display: flex;
    align-items: center;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}
.IconContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.Icon{
    border:1px solid rgb(152, 149, 149);
    padding: 20px 40px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 5px;
}

.Icon:hover{
    background-color:rgb(211, 239, 250);
    color:#2AA8FF;
    border:1px solid#2AA8FF;
}

.fontStyle{
    text-align: center;
}

.button{
    color:white;
    background-color: #2AA8FF;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    max-width:120px;
    width:100%;
    font-size:16px;
}

input{
   flex:1;
    border:none;
    outline: none;
}
@media only screen and (max-width:980px){
.SearchSection{
   display: block;
}
.search-bar{
    margin-bottom: 10px;
}
.button{
    margin: auto;
}
}