.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap:1rem;
    overflow:hidden;
  
  
    .logoContainer {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  
    .toggleButton {
      display: none;
    }
  
    .navbar-laptop {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      gap: 3rem;
      color: #102851;
      font-weight: 600;
      font-size: 20px;


      li {
        &:hover {
      color: #2AA8FF;
        }
      }
    }
    @media screen and (max-width: 980px){
.navbar-laptop{
  gap:2rem;
  font-size: 15px;
}
    }
    @media screen and (max-width: 768px) {
      .navbar-laptop {
        display: none;
      }
  
      .toggleButton {
        display: block;
      }

      .logoContainer {
        margin-left: 10px;
      }
      .button{
        position: absolute;
        right:20px;
      }

    }
    
    .button{
      color:white;
      background-color: #2AA8FF;
      padding: 7px 10px;
      border: none;
      border-radius: 5px;
      max-width:120px;
      width:100%;
  }
  
  }
  